/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 10;
	flex-basis: 23%;
	flex-grow: 1;
	max-height: 44px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid rgb(207, 207, 207);
	border-radius: 3px;
}

.cs-placeholder {
	background: url("down-arrow.png") no-repeat 92.5% 51% #fff;
}

.cs-placeholder:hover {
	background: url("down-arrow-white.png") no-repeat 92.5% 51%;
}

div.cs-select:focus {
	outline: none;
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	padding: 11px 35px 11px 18.5px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 5;
}

.cs-select span:hover {
	color: #fff;
	border: none;
	background-color: #1976d2;
}

.cs-select .cs-selected span {
	color: #fff;
	background-color: #1976d2;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 11px 35px 11px 18.5px;
}

.cs-select ul span:hover {
	color: #000;
	background-color: #e9e9e9;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

div.cs-active {
	z-index: 1000;
}
