* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-range {
	position: relative;
}

#slider-range {
	width: 185px;
	height: 6px;
	background: #fff;
	position: relative;
	margin-right: 189px;
	padding: 0 10px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
}
 
.ui-slider-handle {
	width: 11px;
	height: 22px;
	position: absolute;
	top: -9px;
	margin-left: -6px;
	z-index: 200;
	background: #1976d2;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: 1px solid #fff;
	border-radius: 3px;
	outline: none;
}

.slider-text {
	position: relative;
	top: -9px;
	left: 185px;

	font-size: 16px;
	line-height: 20px;
}
 
.ui-widget-header {
	background: #1976d2;
	height: 6px;
	left: -1px;
	top: -1px;
	position: absolute;
	border-radius: 3px;
}

.range-result {
	text-align: center;
	position: absolute;
	top: -19px;
	left: 223px;
	width: 131px;
	background: #eee;
	color: #000;
	font: 16px sans-serif;
	font-weight: 600;
	padding: 13px 18px 11px 18px;
	border: 1px solid rgb(207, 207, 207);
	border-radius: 3px;
	background-color: #fff;
}

.slider-range::before {
	content: "до";
	position: absolute;
	top: -8px;
	right: 159px;

	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.slider-range::after {
	content: "₽";
	position: absolute;
	top: -8px;
	right: 6px;

	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.wrapper_inner.front {
	max-width: 1470px;
	padding: 0 30px;
	margin: 0 auto;
	background: #fff;
	float: none;
}

@media (min-width: 1300px) {
	.right_block.wide_ {
		width: calc(100% - 288px)!important;
	}
}

@media (min-width: 992px) {
	.right_block.wide_ {
		float: right;
		width: calc(100% - 264px);
		position: relative;
	}
}

@media (max-width: 991px) {
	body #content .wrapper_inner .right_block {
		padding-left: 0;
		margin: 0!important;
	}
}

#content {
	padding-top: 40px;
}

.middle:not(.menu) {
	position: relative;
	float: left;
	width: 100%;
}

.form_block {
	padding: 40px 53px 40px 52px;
	height: 270px;

	overflow: hidden;

	background-color: #f8f8f9;

	-webkit-transition-duration: 0.2s;

	     -o-transition-duration: 0.2s;

	        transition-duration: 0.2s;
}

.form-extended {
	height: 550px;

	-webkit-transition-duration: 0.2s;

	     -o-transition-duration: 0.2s;

	        transition-duration: 0.2s;
}

.form_block-head {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form_title {
	margin-top: -1px;
	margin-bottom: 32px;
	margin-left: -1px;

	font-size: 24px;
	font-weight: 400;
}

.form_switch {
	margin-top: 1px;
	margin-right: -2px;
}

.switch-link {
	margin-left: 30px;
	padding-bottom: 8px;

	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #1976d2;
}

.switch-link:hover {
	color: #000;

	border-bottom: 2px solid #1976d2;
}

.switch-link-active {
	color: #000;

	border-bottom: 2px solid #1976d2;
}

.usual-block {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	margin-bottom: 2px;
}

.wrap-block {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 22px;
}

.wrap-block-mb {
	margin-bottom: 100px;
}

.select-block {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 23px;
}

.extended-block .cs-select {
	margin-bottom: 25px;
}

.cs-select {
	-ms-flex-preferred-size: 23.6%;
	    flex-basis: 23.6%;
	margin-right: 19px;

	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.form-field-calendar .cs-placeholder {
	background: url("calendar.png") no-repeat 92.5% 49% #fff;
}

.form-field-calendar .cs-placeholder:hover {
	background: url("calendar-white.png") no-repeat 92.5% 49% #1976d2;
}

.cs-select:nth-of-type(4n) {
	margin-right: 0;
}

.extended-block .cs-select:nth-of-type(4n) {
	margin-right: 20px;
}

.extended-block .cs-select:nth-of-type(5),
.extended-block .cs-select:nth-of-type(9) {
	margin-right: 0;
}

.extended-block .cs-select:last-of-type,
.extended-block .cs-select:nth-last-of-type(2) {
	flex-grow: 0;
	flex-basis: 23.55%
}

.checkbox-block {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 30px;
	margin-left: -1px;

	color: #000;
}

.form-checkbox + label {
	position: relative;
	margin-right: 24px;
	padding-left: 33px;

	line-height: 24px;
}

.form-checkbox:last-of-type + label {
	margin-right: 0;
}

.form-checkbox + label::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;

	width: 22px;
	height: 22px;
	
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	background-color: #fff;
}

.form-checkbox + label:hover::before {
	content: "";
	background-color: #1976d2;
}

.form-checkbox:checked + label::before {
	content: "✔";

	color: #fff;
	font-size: 20px;
	line-height: 20px;
	text-align: center;

	background-color: #1976d2;
}

.button-block {
	order: 10;
	margin-left: auto;
}

.form-button-1 {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 12px 37px 12px 42px;

	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
	
	border: none;
	background-color: #1976d2;

	cursor: pointer;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

	transition: background-color 0.5s ease;
}

.form-button-1:hover {
	padding: 11px 36px 11px 41px;

	color: #1976d2;

	border: 1px solid #1976d2;
	background-color: #fff;

	transition: background-color 0.5s ease;
}

.form-button-2 {
	padding: 12px 30px 12px 32px;
}

.form-button-2:hover {
	padding: 11px 29px 11px 31px;

	color: #1976d2;

	border: 1px solid #1976d2;
	background-color: #fff;

	transition: background-color 0.5s ease;
}

.btn-reset {
	margin-right: 17px;
	padding: 12px 45px 13px 45px;
	
	text-transform: uppercase;
	color: #1976d2;

	border: 1px solid #1976d2;
	background-color: #fff;

	cursor: pointer;

	transition: background-color 0.5s ease;
}

.btn-reset:hover {
	padding: 13px 46px 14px 46px;

	color: #fff;

	border: none;
	background-color: #1976d2;

	transition: background-color 0.5s ease;
}

@media (max-width: 1470px) {
	.form_block {
		height: 330px;
	}
	.form-extended {
		height: 620px;
	}
	.cs-select {
		-ms-flex-preferred-size: 30%;
		    flex-basis: 30%;
		margin-bottom: 20px;
	}
	.form-field:nth-of-type(3n) {
		margin-right: 0;
	}
	.checkbox-block {
		margin-top: -20px;
	}
	.extended-block .form-field:nth-of-type(4n) {
		margin-right: 20px;
	}
	.wrap-block {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.form-button-1 {
		margin-top: 20px;
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
	}
	.button-block {
		margin-top: -20px;
	}
}

@media (max-width: 1324px) {
	.extended-block .cs-select:last-of-type,
	.extended-block .cs-select:nth-last-of-type(2) {
		flex-grow: 0;
		flex-basis: 49%
	}
	div.cs-select {
		flex-basis: 45%;
	}
	div.cs-select:nth-of-type(2n) {
		margin-right: 0;
	}
	.select-block{
		justify-content: space-between;
	}
	.extended-block .cs-select:nth-of-type(4n) {
		margin-right: 0;
	}
	.extended-block div.cs-select {
		margin-right: 0;
		flex-basis: 49%;
		flex-grow: 0;
	}
	.form-extended {
		height: 740px;
	}
}

@media (max-width: 1284px) {
	.form_block {
		height: 310px;
	}
	.form-extended {
		height: 740px;
	}
	.checkbox-block {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-ms-align-items: flex-start;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.form-button-1 {
		margin-left: auto;
	}
	.usual-block .form-button-1 {
		margin-top: 0;
	}
}

@media (max-width: 1178px) {
	.form_block {
		height: 330px;
	}
	.form-extended {
		height: 750px;
	}
	.checkbox-block {
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		        flex-direction: row;
		margin-bottom: 20px;
	}
}

@media (max-width: 1060px) {
	.usual-block .form-field {
		-ms-flex-preferred-size: 45%;
		    flex-basis: 45%;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}

	.usual-block .form-field:nth-of-type(2n) {
		margin-right: 0;
	}

	.usual-block .form-field:nth-of-type(3n) {
		margin-right: 20px;
	}
}