.is-filter-block{
    margin-bottom: 20px;
}
.is-filter-block label{
    display:block;
    font-weight: bold;
    margin-bottom: 10px;
}
.is-filter-block label input{
    border: 1px solid gray;
    border-radius: 5px;
}