.block-actions{
    margin-bottom: 10px;
}
.block-actions .btn{
    font-size: 12px;
}
#workarea div.news-list{
    margin-top: 10px;
}
.disabled{
    pointer-events: none;
    background: #ced4da;
}
.message-ouput{
    margin-bottom: 10px;
    color:green;
}